.heroSection {
  position: relative;
}

.heroBG {
  width: 100%;
  height: calc(100vh - 95px);
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: calc(100vh - 95px);
  background: var(--color-dark);
  opacity: 0.64;
  pointer-events: none;
}
.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 766px;
  height: 208px;
}

.heroHeading {
  margin-bottom: 1rem;
}

.heroSubheading {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.buttonRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonPrimary,
.buttonSecondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-light);
  margin: 32px 12px;
  border: 2px solid currentColor;
  width: 188px;
  height: 42px;
}

.buttonPrimary {
  background: var(--color-light);
  border: 2px solid var(--color-light);

  color: var(--color-dark);
}

.buttonSecondary {
  border: 2px solid var(--color-light);
  color: var(--color-light);
}

/* ----- Policy line ----- */
.heroPolicy {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--color-light);
  animation: fadeIn 0.8s ease-in-out;
}

.heroPolicySpan {
  color: var(--color-gold);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ----- Responsive ----- */
@media (max-width: 1024px) {
  .heroHeading {
    font-size: 52px;
    text-align: center;
  }
  .heroContent {
    /* width: 90%; */
    max-width: 766px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .buttonRow {
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .buttonPrimary,
  .buttonSecondary {
    margin: 0.25rem 0.5rem;
  }
}

@media (max-width: 600px) {
  .heroBG,
  .overlay {
    height: calc(100vh - 95px);
  }

  .heroContent {
    width: 92%;
  }

  .buttonPrimary,
  .buttonSecondary {
    width: 100%;
    max-width: 260px;
  }

  .heroPolicy {
    text-align: center;
    bottom: 1rem;
    line-height: 1.4;
    max-width: 300px;
    font-size: var(--text-ssm);
    margin: 0 auto;
    /* left: 1rem; */
  }
}
@media (max-width: 400px) {
  .heroHeading {
    font-size: 42px;
    text-align: center;
  }
  .heroSubHeading p {
    font-size: 16px !important;
    text-align: center;
  }
  .heroContent {
    /* width: 90%; */
    max-width: 98%;
    /* height: auto; */
  }
}
